# NPM
npm-debug.log*

# NodeJS dependencies
node_modules/

# production
/dist/
*.tgz

# JetBrains IDE
/.idea/

# VSCode
/.vscode/

# Vite
/vite.config.ts-timestamp-*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# Jest
/coverage/

# GitHub Actions
/.scannerwork/
